/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Navs ***/
.top-nav {
    background: black;
    height: 1.975em;
    width: 100%;
}
.main-nav {
    background: white;
    width: 100%;
    height: 2.975em;
}
.bottom-nav {
    background: yellow;
    width: 100%;
    height: 1.9em;
    margin-left: 0.25em;
}

/*** Banner ***/
.banner-news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 34.1em;
    margin: auto 0.587em;
}
.banner-news #main-banner {
    background: red;
    flex-basis: 66.5%;
}
.banner-news #smaller-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.5%;
}
.banner-news div:last-of-type div {
    background: red;
    height: 16.58em;
    margin-left: 0.55em;
}

/*** News ***/
.latest-news {
    margin: 5.75em auto;
    max-width: 1155px;
    height: 32.75em;
}
 h3 {
    font-family: sans-serif;
    font-size: 1.57em;
    letter-spacing: -.015em;
    font-weight: 700;
    color: #f42;
    padding-bottom: 0.3875em;
}
.news-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
}
.news-container div {
    height: 12.5em;
    max-width: 23.5%;
    flex-basis: 23.5%;
    margin: 1em 0 2.25em 0;
}
.news-container div img {
    background: red;
    height: 68%;
    width: 100%;
}
.news-container div h4 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.1em;
    word-spacing: -.055em;
    margin: 0.28em auto;
}
.news-container div p {
    font-size: 0.75em;
    color: #bcbcbc;
    line-height: 1.6em;
} 

/*** funding section ***/
.funding-section {
    max-width: 1155px;
    margin: 0 auto;
}
.funding-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.funding-section a {
    color: red;
}
.funding-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
}
.funding-container-layout{
    height: 18.5em;
    max-width: 23.5%;
    flex-basis: 23.5%;
    margin: 1em 0 2.25em 0;
    background-color: #fffaf8;
}
.funding-container-layout img {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    background-color: red;
}
.funding-container-layout a {
    display: block;
    margin-left: 2.3em;
    line-height: 2em;
}
.funding-container div h4 {
    color: white;
    background-color: #f42;
    padding: 0.8em 0;
    padding-left: 6em;
    font-weight: 700;
}
.funding-container-layout-header {
    padding: 1em 0;
    padding-left: 6em;
    margin-bottom: 1.3em;
    background-color: #ffebe7;
}
.funding-container-layout-footer {
    border-top: 1px solid #ffcdc2;
    margin-top: 1em;
    padding: 1em;
}

/*** categories ***/
.categories-section {
    max-width: 1155px;
    margin: 0 auto;
    margin-bottom: 3em;
}
.categories-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start ;
    height: 100%;
}

.categories-container-layout {
    position: relative;
    height: 38.5em;
    max-width: 32%;
    width: 32%;
    margin: 1.25em 1.25em 1.25em 0;
}
.categories-container-layout:nth-child(3n){
    margin-right: 0;
}
.categories-container-layout img {
    background: red;
    height: 43%;
    width: 100%;
}
.img-overlay {
    position: absolute;
    margin-top: -90px;
    margin-left: 20px;
    padding-right: 14px;
    color: white;
}
.latest-info-main {
    display: flex;
    flex-direction: row;
}
.latest-info-main div {
    padding: 1em 1.3em;
    margin-bottom: 0.5em;
    background-color: #ffebe7;
}
.latest-info-main img {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    background-color: red;
}
.categories-container-layout ul li {
    list-style-type: disc;
    font-size: 0.875em;
    padding: 0.75em 0.25em;
    margin-left: 1.25em;
    border-bottom: 1px solid #ffcdc2;
    line-height: 1.25em;
}

/*** Deals section ***/
.deals-section {
    margin: 0 auto;
    max-width: 1155px;
}
.deals-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.deals-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.deals-container div {
    width: 23%;
}
.deals-container div h5 {
    line-height: 1.5em;
    font-weight: 700;
}
.deals-section img {
    background: red;
    min-height: 12em;
    margin-top: 2em;
    width: 100%;
}

/*** Footer ***/
footer {
    background-color: #000000;
    margin-top: 5em;
    padding-bottom: 2.5em;
    color: white;
    text-align: center;
}
footer p{
    padding-top: 2.5em;
}
footer ul{
    background-color: #131313;
    display: flex;
    justify-content: center;
    padding: 5em 0;
}
footer ul li {
    margin: 0 0.5em;
}

@media all and (max-width: 1100px) {
    .latest-news {
        width: 100%;
    }
    h3 {
        margin-left: 1em;
    }
    .news-container {
        display: flex;
        flex-flow: row wrap; 
        justify-content: flex-start;
    }
    .news-container div {
        max-width: 31%;
        flex-basis: 31%;
        margin: 1em 0 2.25em 1em;
    }

    .funding-section {
        margin-top: 18em;
    }
    .funding-header {
        margin: 0 1em 2em 2.5em;
        flex-direction: column;
        justify-content: center;
    }
    .funding-header h3 {
        margin-left: 0;
    }
    .funding-container{
        margin: 0 0.5em 0 0.5em;
        justify-content: center;
    }
    .funding-container-layout {
        max-width: 30%;
        flex-basis: 30%;
        margin: 0 0.5em 0 0.5em;
    }
    .funding-container-layout:nth-of-type(4){
        display: none;
    }

    .categories-container {
        justify-content: center;
        margin-left: 0.75em;
    }
    .categories-container-layout {
        width: 46%;
        max-width: 46%;
        margin: 1.25em 1em 1.25em 0;
    }
    .categories-container-layout:nth-child(3n) {
        margin-right: 1em;
    }

    .deals-header{
        margin-right: 2.4em;
    }
    .deals-container {
        justify-content: flex-start;
        margin-left: 1.5em;
    }
    .deals-container div {
        width: 31%;
        margin-right: 1em;
    }
    .deals-container div:nth-child(3n){
        margin-right: 0;
    }
}

@media all and (max-width: 780px){
    .banner-news {
        flex-direction: column;
        justify-content: flex-start;
        height: 86vh;
        max-height: 86vh;
    }
    .banner-news #main-banner {
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 0.75em;
        min-height: 33%;
        max-height: 33%;
    }
    .banner-news #smaller-banner {
        justify-content: space-between;
        min-height: 62.3%;
        max-height: 62.3%;
    }
    .banner-news #smaller-banner div {
        margin-bottom: 0.75em;
        width: 100%;
        margin-left: 0;
        min-height: 53%;
        max-height: 53%;
    }

    .news-container {
        flex-flow: column;
    }
    .news-container div {
        display: flex;
        flex-flow: row wrap;
        min-width: 90vw;
    }
    .news-container div h4 {
        min-width: 80%;
        max-height: 20px;
        margin: 0 0 0 0.5em;
    }
    .news-container div p{
        min-width: 60%;
        margin-left: 6em;
        margin-top: -3em;
    }
    .news-container div img {
        max-width: 4em;
        max-height: 4em;
        min-width: 4em;
        min-height: 4em;
    }

    .funding-section {
        margin-top: 28em;
    }
    .funding-header span {
        display: flex;
        flex-direction: column;
    }
    .funding-header span a {
        margin-bottom: 0.5em;
    }
    .funding-container {
        justify-content: flex-start;
        flex-flow: column;
    }
    .funding-container-layout {
        flex-basis: 100%;
        min-width: 98%;
    }

    .categories-container {
        flex-flow: column;
    }
    .categories-container-layout {
        min-width: 98%;
        height: 50em;
    }
    .categories-container-layout img {
        min-height: 63%;
    }
    .latest-info-main {
        height: 80px;
    }
    .latest-info-main div {
       min-width: 83.3%;
       margin-bottom: 0.5px;
    }
    .latest-info-main img {
        min-height: 80px;
    }
    .deals-container {
        flex-flow: column;
    }
    .deals-container div {
        display: flex;
        flex-flow: row wrap;
        min-width: 90vw;
    }
    .deals-container div {
        margin-bottom: 1em;
    }
    .deals-container div h5 {
        min-width: 80%;
        max-height: 20px;
        margin: 0 0 0 0.5em;
    }
    .deals-container div p{
        min-width: 60%;
        margin-left: 6em;
        margin-top: -2em;
    }
    .deals-container div img {
        max-width: 4em;
        max-height: 4em;
        min-width: 4em;
        min-height: 4em;
        margin-top: 0;
    }
}