/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Navs ***/
.top-nav {
    background: black;
    height: 1.975em;
    width: 100%;
}
.main-nav {
    background: white;
    width: 100%;
    height: 2.975em;
}
.bottom-nav {
    background: yellow;
    width: 100%;
    height: 1.9em;
    margin-left: 0.25em;
}

/*** Banner ***/
.banner-news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 34.1em;
    border: 1px solid brown;
    margin: auto 0.587em;
}
.banner-news #main-banner {
    border: 1px solid white;
    background: red;
    flex-basis: 66.5%;
}
.banner-news #smaller-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.5%;
}
.banner-news div:last-of-type div {
    border: 1px solid black;
    background: red;
    height: 16.58em;
    margin-left: 0.55em;
}

/*** News ***/
.latest-news {
    margin: 5.75em auto;
    max-width: 1155px;
    height: 32.75em;
}
 h3 {
    font-family: sans-serif;
    font-size: 1.57em;
    letter-spacing: -.015em;
    font-weight: 700;
    color: #f42;
    padding-bottom: 0.3875em;
}
.news-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
}
.news-container div {
    height: 12.5em;
    max-width: 23.5%;
    flex-basis: 23.5%;
    margin: 1em 0 2.25em 0;
}
.news-container div img {
    background: red;
    height: 68%;
    width: 100%;
}
.news-container div h4 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.1em;
    word-spacing: -.055em;
    margin: 0.28em auto;
}
.news-container div p {
    font-size: 0.75em;
    color: #bcbcbc;
    line-height: 1.6em;
} 

/*** funding section ***/
.funding-section {
    max-width: 1155px;
    margin: 0 auto;
}
.funding-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.funding-section a {
    color: red;
}
.funding-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
}
.funding-container-layout{
    height: 18.5em;
    max-width: 23.5%;
    flex-basis: 23.5%;
    margin: 1em 0 2.25em 0;
    background-color: #fffaf8;
}
.funding-container-layout img {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    background-color: red;
}
.funding-container-layout a {
    display: block;
    margin-left: 2.3em;
    line-height: 2em;
}
.funding-container div h4 {
    color: white;
    background-color: #f42;
    padding: 0.8em 0;
    padding-left: 6em;
    font-weight: 700;
}
.funding-container-layout-header {
    padding: 1em 0;
    padding-left: 6em;
    margin-bottom: 1.3em;
    background-color: #ffebe7;
}
.funding-container-layout-footer {
    border-top: 1px solid #ffcdc2;
    margin-top: 1em;
    padding: 1em;
}

/*** categories ***/
.categories-section {
    max-width: 1155px;
    margin: 0 auto;
}
.categories-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start ;
    height: 100%;
}

.categories-container-layout {
    position: relative;
    height: 38.5em;
    max-width: 32%;
    width: 32%;
    margin: 1.25em 1.25em 1.25em 0;
}
.categories-container-layout:nth-child(3n){
    margin-right: 0;
}
.categories-container-layout img {
    background: red;
    height: 43%;
    width: 100%;
}
.img-overlay {
    position: absolute;
    margin-top: -90px;
    margin-left: 20px;
    padding-right: 14px;
    color: white;
}
.latest-info-main {
    display: flex;
    flex-direction: row;
}
.latest-info-main div {
    padding: 1em 1.3em;
    margin-bottom: 0.5em;
    background-color: #ffebe7;
}
.latest-info-main img {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    background-color: red;
}
.categories-container-layout ul li {
    list-style-type: disc;
    font-size: 0.875em;
    padding: 0.75em 0.25em;
    margin-left: 1.25em;
    border-bottom: 1px solid #ffcdc2;
    line-height: 1.25em;
}